<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<bean id="deptObj" class="cn.mldn.mldnspring.Properties.Dept">
		<property name="deptno" value="10"/>
		<property name="dname" value="财务部"/>
		<property name="enable" value="true"/>
		<property name="infos">	<!-- 追加的是普通的字符串的数组信息 -->
			<props>
				<prop key="mldn">www.mdldn.cn</prop>
				<prop key="mldnjava">www.mdldn.cn</prop>
			</props>
		</property>
		
	 </bean>
	
</beans>
