<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<bean id="deptobj"  class="cn.mldn.mldnspring.list.ListDept">
		<property name="deptno" value="10" />
		<property name="dname" 	value="财务部"/>
		<property name="enable" value="true"/>
		<property name="emps">
			<list> <!-- 该属性定义的是一个数组，所以现在配置的就是数组 -->
				<ref bean="empA"/>	<!-- 进行依赖对象的引用 -->
				<ref bean="empB"/>	<!-- 进行依赖对象的引用 -->
			</list>
		</property>
		<property name="infos">
			<array> 
				<value>www.mldn.cn</value>
				<value>www.javamldn.cn</value>
			</array>
		</property>
	</bean>  
	
	<bean id="hiredate" class="java.util.Date"/> <!-- 配置了系统类 -->
	<!-- 在Spring 中负责进行Emp_0类对象的实例化处理，使用关系表表练习-->
	<bean id="empA" class="cn.mldn.mldnspring.list.Emp">
		<property name="empno" value="1058" />
		<property name="ename" value="龙龙"/>
		<property name="salary" value="8000"/>
		<property name="hiredate" ref="hiredate"/>
	</bean>
	<bean id="empB" class="cn.mldn.mldnspring.list.Emp">
		<property name="empno" value="17785" />
		<property name="ename" value="GGG"/>
		<property name="salary" value="8000"/>
		<property name="hiredate" ref="hiredate"/>
	</bean>
</beans>
