<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 如果想要进行任务的处理，则一定需要有一个任务的调度工厂类 -->
	<bean id="taskFactroy" class="org.springframework.scheduling.quartz.JobDetailFactoryBean"> 
		<!-- 任务工厂里面需要明确的设置出要执行本次任务所需要的任务类，而这个任务要求继承QuartzJobBean父类 -->
		<property name="jobClass" value="cn.mldn.schedule.quartz.QuartzJobBean.MyTask"/>
		<property name="jobDataMap"><!-- 定义一下任务的相关配置信息 -->
			<map>
				<entry key="timeout" value="0"/><!-- 任务启动后不延迟，立即执行 -->
			</map>
		</property>
	</bean>
	<!-- 要定义任务触发的工厂类，使用CRON进行任务的触发操作-->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="taskFactroy"/> <!-- 定义每一次间隔触发是要执行的具体的任务详情 -->
		<property name="cronExpression" value="0 * * * * ?"/> <!-- 设置任务的触发时间 -->
	</bean>
	<!--  配置任务的执行调度器 -->
	<bean id="scheduleFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> 
		<property name="triggers">
			<array>
			<ref bean="cronTrigger" />  <!-- 设置任务触发器 -->
			</array>
		</property>
	</bean>
</beans>



