<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 将定时任务的调度类配置在Spring容器里面 -->
	<bean id="myTask" class="cn.mldn.schedule.quartz.springTask.MyTaskFirst"/>

	<task:scheduled-tasks>	<!-- 进行SpringTask任务的调度配置 -->
	<!-- 
	<task:scheduled ref="myTask" method="runTask" fixed-rate="1000"/>	定义要使用的任务类
	-->
	<task:scheduled ref="myTask" method="runTask" cron="* * * * * ?"/><!--定义要使用的任务类  -->
	</task:scheduled-tasks>
</beans>

































