<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="deptObj" class="cn.mldn.mldnspring.map.MapDept">
		<property name="deptno" value="10"/>
		<property name="dname" value="财务部"/>
		<property name="enable" value="true"/>	
		<property name="infos">
			<map>
				<entry key="1" value="www.mldn.cn"/> 
				<entry key="1" value="www.mldnhjava.cn"/> <!-- key 重复会覆盖 -->
				<entry key="2" value="www.mldnjava.cn"/>
			</map>
		</property>
		<property name="emps">
			<map>
				<entry key="emp-allen" value-ref="empA"/>
				<entry key="emp-ford"  value-ref="empB"/>
			</map>
		</property>
	</bean>
	
	<bean id="hiredate" class="java.util.Date"/>
	<bean id="empA" class="cn.mldn.mldnspring.map.Emp"> 
		<property name="empno" value="7369"/>
		<property name="ename" value="ford"/>
		<property name="salary" value="69550"/>
		<property name="hiredate" ref="hiredate"/>
	</bean>
	
	<bean id="empB" class="cn.mldn.mldnspring.map.Emp"> 
		<property name="empno" value="73659"/>
		<property name="ename" value="allen"/>
		<property name="salary" value="960.00"/>
		<property name="hiredate" ref="hiredate"/>
	</bean>
</beans>
